:root {
  --body-color: rgb(254, 234, 204);
  --section-color: rgb(212, 52, 30);
  --font-color: rgb(238, 232, 124);
  --hover-color: rgb(7, 9, 1);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--body-color);
}
h1, h2, h3, h4 {
    color: var(--font-color);
    background-color: var(--section-color);
}
/* Start Header styles */
header {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: var(--section-color);
  /* height: 100px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
header h1 {
    font-size: 48px;
}
/*Start Navigation styles*/
nav {
  color: var(--font-color);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  justify-content: space-around;
  width: 50%;
  /* margin-left: 250px; */
}
nav a {
    color: var(--font-color);
    font-size: 20px;
}
/* Start Hero styles */
.hero {
    height: 400px;
    background-image: url("../images/Me-and-Poseidon.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.subtitle {
    margin: 0 2em 2em 0;
  }
.subtitle h2 {
        padding: 1em 4em 1em 4em;
}

/*Start main styles*/
.about-me {
    background-color: var(--section-color);
    display: flex;
    justify-content: right;
    align-items: center;
    margin-bottom: 3em;
    /* border-right: 10px solid var(--hover-color); */

}
.about-me h3 {
    border-right: 10px solid var(--hover-color);
    margin-right: 20px;
    padding-right: 20px;
    width: 30%;
}
p {
    color: var(--font-color);
    padding: 0 5em 0 0em;
    margin-bottom: 10em;
    /* border-left: 10px solid var(--hover-color); */
}
.work-section {
    display: flex;
}
.work-section h3 {
    border-right: 10px solid var(--hover-color);
    margin-right: 20px;
    padding-right: 20px;
    width: 21%;
}
.flexing {
    display: flex;
    flex-direction: column;
}
.flex-work {
    width: 500px;
    height: 350px;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;  
}
.flex-work h4 {
    background: white;
    
}
.surf-report {
    background-image: url("../images/Sea-gull-flying.jpeg");
}
.led-wall {
    background-image: url("../images/Prince-Island-men-at-coffee-shop.jpeg");
}
.calculator {
    background-image: url("../images/sculpture-of-Greek-torso.jpeg");  
}
.pastel-puz {
    background-image: url("../images/Flower-from-Greece.jpeg");
}
.run-buddy {
    background-image: url("../images/Santorini-church-with-blue-dome.jpeg");
}

/* Start Footer Styles */
footer {
    background: var(--section-color);
    color: var(--font-color);
  }
footer section {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
  }
footer section div {
    margin: 2em;
  }
footer .phone:hover,
  address:hover,
  address a:hover {
    color: var(--hover-color);
    border-style: dashed;
  }

/* MEDIA QUERY FOR TABLETS AND SMALLER */
/* /* @media screen and (max-width: 768px) { */
  header h1 {
    font-size: 30px;
    width: 30%;
  }
  nav {
    /* list-style-type: none; */
    /* margin-left: 10px; */
    width: 50%;
  }
  nav a { 
    font-size: 15px;
  }
  .subtitle {
    margin: 0 3em 3em 0;
}
.subtitle h2 {
    padding: 1em 2em 1em 2em;
}
  
} */

/* MEDIA QUERY FOR PHONES AND SMALLER */
/* /* @media screen and (max-width: 575px) { */
  header {
    flex-wrap: wrap;
  }
  header h1 {
    font-size: 25px;
    width: 50%;
}
.subtitle {
    margin: 0 4em 3em 0;
}
.subtitle h2 {
    padding: 1em 2em 1em 2em;
}
  /* .hero figure {
    height: 100px;
  } */
  /* .subtitle {
      top: 15%;
      left: 60%;
      font-size: 1em;
  } */
} */