.projects-section{
  padding:1.5rem;
  text-align: center;
}

.projects-section h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.projects-list{
  list-style:none;
  padding:0;
  display:grid;
  grid-template-columns: 1fr 1fr;
  gap:1.5rem;
  max-width: 1000px;
  margin: 0 auto;
}

.project-item{
  display:flex;
  flex-direction: column;
  align-items:center;
  background: rgba(255, 255, 255, 0.1);
  padding: 1.2rem;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  text-align: center;
}

.project-thumb{
  width:130px;
  height:100px;
  object-fit:cover;
  border-radius:6px;
  flex-shrink: 0;
  margin-bottom: 1rem;
}

.project-content {
  text-align: center;
  flex-grow: 1;
}

.project-content h3{
  margin:0;
  font-size: 1.5rem;
  margin-bottom: 0.4rem;
}

.project-content p{
  margin:0.4rem 0 0.8rem 0;
  font-size: 1rem;
  line-height: 1.4;
}

.project-content a {
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  color: #4F46E5;
  border: 2px solid #4F46E5;
  padding: 0.4rem 0.8rem;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.project-content a:hover {
  background-color: #4F46E5;
  color: white;
}
